:root {
  --color-primary: #ffd100;
  --color-secondary: #005e7e;
  --color-tertiary: #33348e;
  --color-accent: #ff7f50;
  --color-background: #f0f0f0;
  --color-text: #333333;

  --font-family: "Arial", sans-serif;
  --font-family-secondary: "Helvetica Neue", Arial, sans-serif;
  --font-size: 16px;
  --line-height: 1.5;

  --color-1: #fcfce6;
  --color-2: #fbf8d0;
  --color-3: #ffe253;
  --color-4: #ffd100;
}
